<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ourchain Forun</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!--
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    //-->
</head>
<body>
    <a href="post" style="margin-right: 20px; ">post</a>
    <a href="login">login</a>
    <ul>
    {% for post in posts %}
        <li style="border:3px #AAAAAA solid; list-style-type: none; margin: 20px auto;">
            <h3 style="background-color: #AAAAAA; margin: 0 auto;">{{ post.title }}</h3>
            {% if post.acsub is defined %}
                <p style="margin: 0 auto; background-color: #EEEEEE; font-size:xx-small;">Author: {{ post.author }} ,login by: {{ post.idtype }}, ac: {{ post.acsub }} </p>
            {% else %}
                <p style="margin: 0 auto; background-color: #EEEEEE; font-size:xx-small;">Author: {{ post.author }} ,login by: {{ post.idtype }} </p>}
            {% endif %}
            <p style="font-size:x-small; background-color: #AAAAAA; margin: 0 auto; padding: 20px 20px;">{{ post.content }}</p>
        </li>
    {% endfor %}
    </ul>
</body>
</html>